APP_NAME="Vizag Florist"
APP_URL="http://localhost"
DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_NAME="vizag_florist"
DB_USER="root"
DB_PASS=""
SESSION_NAME="vizag_florist_session"
RAZORPAY_KEY_ID="rzp_test_xxx"
RAZORPAY_KEY_SECRET="xxx"
RAZORPAY_WEBHOOK_SECRET=""
DELIVERY_DEFAULT_CHARGE="49"
